<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AQI Monitoring System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col">
            <p class="fs-1 fw-bold text-center border border-success rounded-end">AQI Monitoring System</p>
        </div>
      </div>
      <div class="row align-items-start">
        {% for data in sensor_data %}
          <div class="col-3 shadow-lg bg-secondary bg-gradient text-white m-1 border border-3 border-warning rounded-end">
            <p class="fs-5 fw-bold text-center bg-danger bg-gradient">{{data[0]}}</p>
            <p class="fs-2 fw-bold text-center">15 <span class="fs-6 bg-success">AQI US</span></p>
            <p class="fs-5 text-center">PM2.5(ug/m3): {{data[1]}}</p>
            <p class="fs-5 text-center">T(°C): {{data[2]}}</p>
            <p class="fs-5 text-center">H(%): {{data[3]}}</p>
            <p class="fs-5 text-center">{{data[4]}}</p>
            <p class="text-center">
              <form method = "get" action = "/">
                <button type="submit" class="btn btn-warning" name="choose_node" value="{{data[0]}}">Graph</button>
              </form>
            </p>
          </div>
        {% endfor %}
      </div>
      <div class="row align-items-center">
        <div class="col">
            <p class="fs-3 fw-bold text-center border border-success rounded-end">Online Charts (60 min.)</p>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-4">
          <p class="fs-5 fw-bold text-center">PM2.5 Online Chart [{{name}}]</p>
          <canvas id="myChart1"></canvas>
          <p class="fs-5 text-center">{{datetime}}</p>
        </div>
        <div class="col-4">
          <p class="fs-5 fw-bold text-center">Temperature Online Chart [{{name}}]</p>
          <canvas id="myChart2"></canvas>
          <p class="fs-5 text-center">{{datetime}}</p>
        </div>
        <div class="col-4">
          <p class="fs-5 fw-bold text-center">Relative Humidity Online Chart [{{name}}]</p>
          <canvas id="myChart3"></canvas>
          <p class="fs-5 text-center">{{datetime}}</p>
        </div>
      </div>
    </div>

    <!--Chart 1-->
    <script>

      let data_pm25=[]

      {% for pm25_item in pm25 %}
             data_pm25.push({{pm25_item}})
      {% endfor %}

      const labels_1 = [
        1,2,3,4,5,6,7,8,9,10,
        11,12,13,14,15,16,17,18,19,20,
        21,22,23,24,25,26,27,28,29,30,
        31,32,33,34,35,36,37,38,39,40,
        41,42,43,44,45,46,47,48,49,50,
        51,52,53,54,55,56,57,58,59,60,
      ];

      const data_1 = {
        labels: labels_1,
        datasets: [{
          label: 'PM2.5(ug/m3)',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data_pm25,
        }]
      };

      const config_1 = {
        type: 'line',
        data: data_1,
        options: {}
      };
    </script>
    <script>
      const myChart1 = new Chart(
        document.getElementById('myChart1'),
      config_1
    );
    </script>


    <!--Chart 2-->
    <script>
      let data_temp=[]

      {% for temp_item in temp %}
             data_temp.push({{temp_item}})
      {% endfor %}

      const labels_2 = [
        1,2,3,4,5,6,7,8,9,10,
        11,12,13,14,15,16,17,18,19,20,
        21,22,23,24,25,26,27,28,29,30,
        31,32,33,34,35,36,37,38,39,40,
        41,42,43,44,45,46,47,48,49,50,
        51,52,53,54,55,56,57,58,59,60,
      ];

      const data_2 = {
        labels: labels_2,
        datasets: [{
          label: 'Temperature (°C)',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data_temp,
        }]
      };

      const config_2 = {
        type: 'line',
        data: data_2,
        options: {}
      };
    </script>
    <script>
      const myChart2 = new Chart(
        document.getElementById('myChart2'),
      config_2
    );
    </script>

    <!--Chart 3-->
    <script>
      let data_hum=[]

      {% for hum_item in hum %}
             data_hum.push({{hum_item}})
      {% endfor %}

      const labels_3 = [
        1,2,3,4,5,6,7,8,9,10,
        11,12,13,14,15,16,17,18,19,20,
        21,22,23,24,25,26,27,28,29,30,
        31,32,33,34,35,36,37,38,39,40,
        41,42,43,44,45,46,47,48,49,50,
        51,52,53,54,55,56,57,58,59,60,
      ];

      const data_3 = {
        labels: labels_3,
        datasets: [{
          label: 'Relative Humidity (%)',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data_hum,
        }]
      };

      const config_3 = {
        type: 'line',
        data: data_3,
        options: {}
      };
    </script>
    <script>
      const myChart3 = new Chart(
        document.getElementById('myChart3'),
      config_3
    );
    </script>

  </body>
</html>